ECHO is on.
# Angular
node_modules/       # Dossier des dépendances Angular
dist/               # Dossier de production
.angular/           # Dossiers temporaires générés par Angular

# Laravel
vendor/             # Dossier des dépendances PHP
.env                # Fichier de configuration sensible
node_modules/       # Dossier des dépendances npm (si tu utilises npm ou Yarn)

# Ignorer les fichiers de logs
*.log

# Docker
.docker/            # Fichiers de configuration Docker

